<footer class="productFooter">
  <div class="footer-medium-box">
    <div class="footer-information">
      <p class="footer-title-info">Información</p>
      <ul>
        <a class="footer-text-information" href="#">Sobre Nosotros</a><br>
        <a class="footer-text-information" href="#">Blog</a><br>
        <a class="footer-text-information" href="#">Recetas</a><br>
        <a class="footer-text-information" href="#">Historia del Café</a><br>
      </ul>
    </div>
    <div class="footer-links">
      <p class="footer-title-links">Links</p>
      <ul>
        <a class="footer-text-information" href="#">Soporte</a><br>
        <a class="footer-text-information" href="#">Terminos y condiciones</a>
      </ul>
    </div>
      <div class="footer-contact">
        <p class="footer-title-contact">Contáctanos</p>
        <p class="footer-text-contact"><i class="fab fa-whatsapp"></i><a href="#">WhatsApp</p></a>
        <p class="footer-title-email"><i class="fas fa-at"></i>mecafe@gmail.com</p>
      </div>
    <div class="footer-last-footer">
      <div class="footer-networks">
        <div class="footer-link-net">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
        </div>
        <p class="footer-link-text">Síguenos en redes sociales</p>
      </div>
      <div class="footer-logo-box">
        <img src="/img/logoMecafe3.png" class="footer-logo" />
      </div>
    </div>
  </div>
  </div>
  <div class="footer-Copyright">
    <p class="footer-Copyright-text">Copyright 2022</p>
  </div>
</footer>

<script src="../js/login.js"></script>
