
<footer class="newFooter">
    
    <section class="newFooter__container">

        <div class="newFooter__desktop">
            <h4>SOBRE NOSOTROS</h4>
            <p>Nuestra misión es inspirar y nutrir el espíritu humano: una persona, una taza y un vecindario a la vez. Decir que MeCAFE® compra y tuesta cafés en grano de alta calidad es muy cierto.</p>
        </div>

        <div class="newFooter__box">

            <div class="newFooter__itemsBox">
                <h4>Informacion</h4>
                <p>Blog</p>
                <p>Recetas</p>
                <p>Historia</p>
            </div>
    
            <div class="newFooter__itemsBox">
                <h4>Links</h4> 
                <p><i class="fa-brands fa-square-whatsapp"></i> Whatsapp</p>
                <p><i class="fa-solid fa-address-card"></i> Contacto</p>
                <a href="#"><p>mecafe@gmail.com</p></a>
            </div>
    
            <div class="newFooter__itemsBox">
                <h4>Social</h4>
                <p><i class="fa-brands fa-twitter-square"></i> Twitter</p>
                <p><i class="fa-brands fa-square-instagram"></i> Instagram</p>
                <a href="https://github.com/gruposeisdh/grupo_6_cafeMeca/tree/dev" target="_blank"><p><i class="fa-brands fa-square-github"></i> GitHub</p></a>
            </div>
        </div>
    </section>
    
    <section>
      <script src="../../../../../../../../js/modals.js"></script>    
      <script src="../../../../../../../../js/appHeader.js"></script>
    </section>

    
</footer>