<div id="menu_partial">
    <nav>
        <ul>
            <li><a href="/user/list">Usuarios</a></li>
            <li><a href="/product/list">Productos</a></li>
            <li><a href="/product/create">Crear Producto</a></li>
            <li><a href="/type-grinding/list">Tipos de Molienda</a></li>
            <li><a href="/type-grinding/create">Crear Tipo de Molienda</a></li>
        </ul>
    </nav>
</div>