<div id="menu_partial">
    <nav>
        <ul>
            <li><a href="/user/profile">Mis Datos</a></li>
            <li><a href="/user/sale">Mis Pedidos</a></li>
            <li><a href="/user/direction">Mis Direcciones</a></li>
            <li><form action="/user/logout" method="post"><a href='#' onclick='this.parentNode.submit(); return false;'>Logout</a></form></li> 
        </ul>
    </nav>
</div>

