<div class="cart__progress">    

    <div class="">
        <a class="cart__progress-i" href="/cart/"> 
            <i class="fas fa-shopping-basket"></i>
        </a>
    </div>

    <hr class="">

    <div class="progress__not_active">
        <a class="cart__progress-i" href="/cart/Checkout"> 
            <i class="fas fa-credit-card"></i>
        </a>
    </div>

    <hr class="progress__not_active">

    <div class="progress__not_active">
        <a class="cart__progress-i" href="/cart"> 
            <i class="fas fa-gifts"></i>
        </a>
    </div>               

</div>